/*
Colors
#333745
#E63462
#FE5F55
#C7EFCF 
#EEF5DB
 */
$color-dark: 	#333745;
$color-accent: 	#E63462;
$color-primary: #FE5F55;
$color-light: 	#C7EFCF;
$color-white: 	#EEF5DB;
$font: "Ubuntu", sans-serif;

body{
	background: $color-white;
	font-family: $font;
}

h1{
	text-align: center;
	margin: 48px 0;
}
.card{
	background: $color-dark;
	padding: 4px;
	color: white;
	border-radius: 12px;
}

.card .icon-holder{
	border-radius: 9500px;
	text-align: center;
	width: 500px;
	height: 500px; 
	background: $color-primary;
	margin: 0 auto;
	border: 12px solid $color-accent;
}

.card i{
	font-size: 400px;
	width: 400px;
	display: inline-block;
	color: $color-white;
	text-align: center;
}

.card-body{
	border-top: 3px solid #ccc;
	text-align: center;
}